@import 'sencha-touch/default/all';

$list-active-color : #663434;

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

.memo {
    background-image : url("../images/memo-bg.png");

    .x-list, .x-field, .x-layout-card-item,
    .x-scroll-container, .x-form-inner {
        background-color : transparent;
    }
}
@include sencha-toolbar-ui("memo", #331a1a, "glossy");
@include sencha-toolbar-ui("memo-transparent", #fff, "glossy");
.x-toolbar-memo-transparent {
    background-color: transparent;
    background-image: none;
}

@include sencha-button-ui("memo", #331a1a, "glossy");
